* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}

.container {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.75);
}
.logo {
    margin-top: 7px;
}
.menu {
    display: flex;
}

.list {
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.list:last-child {
    border-right: 1px solid #2c71b8;
}
.list-a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
}

.list:hover .list-a {
    background-color: #2c71b8;
    color: white;
}

.logo-arrow {
    width: 8px;
    height: 5px;
    margin-left: 5px;
}

.list-menu {
    position: relative;
    text-indent: 20px;
}
.list-menu:hover .menu-products {
    display: block;
}

/* menu products */
.menu-products {
    width: 286px;
    height: 315px;
    background-color: #2c71b8;
    line-height: 40px;
    padding-top: 15px;
    text-indent: 30px;
    color: white;

    position: absolute;

    top: 50px;
    left: -1px;

    display: none;
}
.menu-products a {
    text-decoration: none;
    color: white;
    display: block;
}
.menu-products li:hover {
    background-color: white;
}
.menu-products a:hover {
    color: #2c71b8;
}

/* search */
.third-col form {
    border: 1px #2c71b8 solid;
    width: 175px;
    display: flex;
    align-items: center;
}

.search-input {
    font-size: 16px;
    line-height: 42px;
    background: none;
    text-indent: 14px;
    width: 136px;
    border: 0px;
}
.search-button {
    background-color: #2c71b8;
    width: 30px;
    height: 30px;
    position: relative;
    background-image: url(images/icon_4.png);
    background-repeat: no-repeat;
    background-position: 7px 7px;
}
.search-logo {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 7px);
}

/* basket */

.basket-button{
    height: 40px;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 28px;
    right: 403px;
    
}
.basket-logo {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 10px);
}
.number {
    height: 22px;
    width: 22px;
    color: white;
    background-color: #2c71b8;
    border: 1px white solid;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;

    position: absolute;
    top: 18px;
    right: 433px;
}

/* content */

.con-pro {
    margin-left: 15px;
}

.swipe {
    height: 400px;
    background-color: #235a93;
    border-bottom: 1px white solid;
}

.content {
    width: 1200px;
    margin: auto;

    display: flex;
}

.filter {
    min-width: 269px;
    height: 843px;
    border-right: 1px white solid;
    background-color: rgba(225, 225, 225, 0.25);
    padding: 30px;
}

.road {
    font-size: 14px;
    color: rgba(225, 225, 225, 0.4);
    margin-top: 30px;
    margin-left: 15px;
}

.underline {
    text-decoration: underline;
}

.sublite {
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 15px;
}

/* products */

.catalog {
    display: flex;
    flex-wrap: wrap;
}

.prod {
    width: 268px;
    height: 650px;
    border: 1px rgba(225, 225, 225, 0.75) solid;
    margin: 15px;
    flex-direction: column;
    color: white;
}

.prod .image {
    display: block;
    height: 179px;
    background-color: rgba(225, 225, 225, 0.75);
    text-align: center;
    line-height: 260px;
    position: relative;
}

.image-buttons {
    width: 32px;
    height: 72px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.full-screen, .heart{
    height: 30px;
    width: 30px;
    border: 1px #2c71b8 solid;
    background-repeat: no-repeat;
    background-position: center;
}

.full-screen {
    background-image: url(images/icon_8.png);
}

.heart {
    background-image: url(images/icon_5.png);
}
.heart:hover {
    background-color: #2c71b8;
    background-image: url(images/icon_7.png);
    cursor: pointer;
}
.heart-like {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/icon_18.png);
    background-color: #2c71b8;
    height: 30px;
    width: 30px;
    border: 1px #2c71b8 solid;
}
.heart-like:hover {
    cursor: pointer;
}

.about {
    margin: 15px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.text {
    font-size: 21px;
    margin: 10px 0px;
    line-height: 26px;
}
.bold {
    font-weight: bold;
}

.price-599, .price-399 {
    margin: 15px 60px;
}
.price-1250 {
    margin: 15px 50px;
}

.big-number {
    font-size: 48px;
    font-weight: bold;
}

.small-number {
    font-size: 21px;
    font-weight: bold;
    vertical-align: top;
    line-height: 40px;
}

/* buttons */

.more-details {
    width: 210px;
    height: 50px;
    border: 1px white solid;
    background-color: #2c71b8;
    color: white;
    margin: 15px 30px;
    font-size: 21px;
    font-weight: bold;
}

.add-to-cart {
    width: 210px;
    height: 50px;
    background-color: rgba(225, 225, 225, 0.25);
    color: white;
    margin: 0px 30px;
    font-size: 21px;
    font-weight: bold;
    border: 1px rgba(225, 225, 225, 0.25) solid;
    position: relative;
}

.add-to-cart::after {
    background-image: url(images/icon_2.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 10px;
    right: 10px;
    content: "";
    display: block;
    height: 17px;
    width: 15px;
    top: 15px;
    right: 10px;
}

.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-block {
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 100px auto;
    padding: 15px;
    text-align: center;
}
.btn-wrap {
    display: flex;
    justify-content: flex-end;
}
.btn-close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    background-color: red;
}
.modal-block h3 {
    margin-bottom: 20px;
}
.form-field {
    margin-bottom: 15px;
}
.form-field input {
    height: 30px;
    width: 100%;
}
.show {
    display: block;
}
.hide {
    display: none;
}

.swipe {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swipe-container {
    width: 1200px;
}
.slider-block > div {
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 150px 0;
}
.slick-slide-button {
    width: 10px;
    height: 10px;
    display: block;
    background-color: black;
}
.slider-block ul li button::before {
    content: "";
    background-image: url(images/square-for-button.png);
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
}
.product-quantity {
    text-align: center;
}